html,body{height:100%;}
body{background:#edf3f3 url(../images/bg.png) repeat;font:12px 'Roboto Slab', "Helvetica Neue", Helvetica, Arial, sans-serif;line-height:1.428571429;color:#535b60;}
#wrap{min-height:100%;height:auto;margin:0 auto -150px;padding:0 0 150px;}
h2{color:#121b21;font:900 24px/23px 'Roboto';margin:0 0 24px 0;text-transform:uppercase;letter-spacing:-1px;}
h3{color:#ffffff;font:900 18px 'Roboto';margin:0 0 57px 0;text-transform:uppercase;width:100%;}
h3 span{background:#191a1a;padding:8px 85px;display:inline-block;}
h4{color:#535b60;font:900 18px/23px 'Roboto';margin:0 0 13px 0;text-transform:uppercase;}
h5{color:#121b21;font:24px/30px 'Roboto';font-weight:900 !important;margin:0 0 19px 0;text-transform:uppercase;}
h6{font:900 24px 'Roboto';color:#ffc819;margin:0;margin-bottom:31px;}
#header{}
#topnav .navbar-brand{background:url(../images/logo3.png) no-repeat;display:block;width:289px;height:102px;text-indent:-9999px;}
#topnav{padding:0;background:#121b21;border-bottom:4px solid #2c3439;height:77px;z-index:99999;}
#topnav.shadow{box-shadow:0 2px 10px #686868;}
#topnav .navbar-nav>li>a{padding-top:27px;padding-bottom:26px;}
#topnav .navbar-nav>li>a:hover{background-color:#080808;color:#fff;border-bottom:4px solid #8599AC;}
#topnav .navbar-nav>li.open>a{background-color:#080808;color:#fff;border-bottom:4px solid #8599AC;}
#topnav #login-form{margin-top:12px;}
#topnav .user-dropdown a{max-width:170px;}
#topnav .user-dropdown > a{padding-left:60px;}
#topnav .avatar{position:absolute;margin-top:-10px;margin-left:-50px;}
#topnav .dropdown-form{width:210px;padding:10px 15px;}
#topnav .dropdown-form .form-control{margin-bottom:10px;}
.form-signin{max-width:400px;padding:15px;margin:0 auto;}
.form-signin .form-signin-heading,
.form-signin .checkbox{margin-bottom:10px;}
.form-signin .checkbox{font-weight:normal;}
.form-signin .form-control{position:relative;font-size:16px;height:auto;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
#wrap{}
#wrap .main-body{padding-top:10px;}
#wrap #map-canvas{}
.panel-group#profile_form .panel{overflow:initial;}
.panel{border-bottom:2px solid #ddd;}
.panel .panel{border-bottom:1px solid #DDD;}
.panel-danger{border-bottom-color:#ebccd1;}
.panel-primary{border-bottom-color:#428bca;}
.panel-success{border-bottom-color:#d6e9c6;}
.scrolled.panel-body{max-height:400px;overflow-y:scroll;}
.scrolled.panel-body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);background-color:#F5F5F5;}
.scrolled.panel-body::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
.scrolled.panel-body::-webkit-scrollbar-thumb{background-color:#357ebd;border-radius:10px;}
.thumbnail h3{color:#000;margin-bottom:10px;}
#footer{background-color:#edf3f3;padding-bottom:20px;border-top:4px solid #d5dada;margin-top:15px;min-height:130px;}
#footer #footer-widgets .widget{border-right:1px solid #979797;min-height:180px;}
#footer #footer-widgets ul.links{margin:0;padding:0;list-style:none;overflow:hidden;}
#footer #footer-widgets ul.links li{font-size:12px;line-height:1.428571429;overflow:hidden;margin-bottom:7px;}
#footer #footer-widgets ul.links li a{color:#757c80;font:11px 'Roboto';-webkit-transition:all 0.25s ease;transition:all 0.25s ease;}
#footer #bottom-links{margin-top:20px;padding-top:10px;border-top:3px solid #535b60;}
#footer #bottom-links .left ul{list-style:none;margin:0;padding:0;}
#footer #bottom-links .left ul li{display:inline-block;padding:0 10px;}
#footer #bottom-links .left ul li a:hover{color:#2d88a6;-webkit-transition:all 0.25s ease;transition:all 0.25s ease;}
#footer #bottom-links .left ul li a{font:11px 'Roboto';color:#757c80;text-transform:uppercase;-webkit-transition:all 0.25s ease;transition:all 0.25s ease;}
@media (max-width:767px){#topnav .navbar-toggle{margin-top:20px;}
#topnav .navbar-collapse{background:#121b21;margin-top:15px;}
#topnav .navbar-nav>li>a{border-bottom:4px solid #121b21;padding-top:10px;padding-bottom:10px;}
#topnav .navbar-brand{position:absolute;z-index:9999;background:none;display:block;width:initial;height:initial;text-indent:0;font:bold 25px Arial;}
#topnav #login-form .form-control{margin-bottom:5px;}
#topnav .navbar-nav>li>a{border-bottom:none;}
#topnav .navbar-nav>li>a:hover{border-bottom:none;}
}
@media (min-width:768px) and (max-width:991px){}
@media (min-width:992px) and (max-width:1199px){.navbar-form .form-control{width:110px;}
}
@media (min-width:1200px){.container{width:1000px;}
}
.property-listing{position:relative;overflow:hidden;}
.property-listing img{width:100%;height:100%;}
.bgc-fff{background-color:#fff!important;}
.box-shad{-webkit-box-shadow:1px 1px 0 rgba(0,0,0,.2);box-shadow:1px 1px 0 rgba(0,0,0,.2);}
.brdr{border:1px solid #ededed;}
.fnt-smaller{font-size:.9em;}
.fnt-lighter{color:#bbb;}
.pad-10{padding:10px!important;}
.mrg-0{margin:0!important;}
.btm-mrg-10{margin-bottom:10px!important;}
.btm-mrg-20{margin-bottom:20px!important;overflow:hidden;}
.clr-535353{color:#535353;}
.property-listing .ribbon,
.property-listing .ribbon,
.property-listing .ribbon,
.property-listing .ribbon{color:#fff;text-transform:uppercase;display:block;position:absolute;font-weight:700;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);padding:5px 25px 3px;top:24px;left:-40px;width:150px;text-align:center;box-shadow:0px 1px 3px rgba(0,0,0,0.5);z-index:9999;}
.property-listing .ribbon2{top:40px;left:-70px;width:250px;}
.property-listing .ribbon.sale,
.property-listing .ribbon.verified{background-color:#4cae4c;}
.property-listing .ribbon.rent{background-color:#eea236;}
.property-listing .ribbon.assume{background-color:#EC526B;}
.property-listing .ribbon.project_status,
.property-listing .ribbon.branch_office{background-color:#428bca;}
.property-listing .ribbon.unverified{background-color:#D74532;}
.property-listing .inner{min-height:80px;}
.property-listing .inner .children a{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;}
.property-listing .info{padding:10px;min-height: 120px;}
.property-listing .info .title{font-weight:600;margin-bottom:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;border-bottom:1px solid #e7e7e7;padding-bottom:5px;}
.property-listing .info a{text-decoration:none;}
.property-listing .footer{position:absolute;border-top:1px solid #E7E7E7;bottom:0;right:0;padding:10px;background:#FFF;}
.property-listing .footer .phone{font-weight:bold;font-size:16px;overflow:hidden;}
.property-listing .footer .email{margin-right:5px;}
.property-listing .info .attr,
.property_attr .attr{background-color:#FFF;padding:5px 5px 5px 40px;position:relative;font-size:15px;display:inline-block;}
.property-listing .info .attr2{font-size:12px;}
.property-listing .info .icon-only{padding-left:25px;}
.property-listing .info .ellipsis-overflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.property-listing .info .abstract{overflow:hidden;}
.property-listing .info .business-abstract{font-size:10px;margin-top:10px;max-height: 50px;}
.property-icon{width:24px;height:24px;position:absolute;margin-left:-30px;}
.property-icon.map-marker{background:transparent url("../images/map-marker.png");}
.property-listing .thumb{max-height: 120px;}
.property-icon.street{background:transparent url("../images/Sign-Post-icon.png");}
.property-icon.price{background:transparent url("../images/price-tag-icon.png");}
.property-icon.beds{background:transparent url("../images/bed-icon.png");}
.property-icon.baths{background:transparent url("../images/rubber-duck-icon.png");}
.property-icon.lot_area{background:transparent url("../images/grid-icon.png");}
.property-icon.floor_area{background:transparent url("../images/New-room-icon.png");}
.property-icon.phone{background:transparent url("../images/phone-icon.png");}
.property-icon.website{background:transparent url("../images/Website-Link-icon.png");}
@media (max-width:767px){.property-listing .thumb{max-height:150px;overflow:hidden;}
}
@media (min-width:768px) and (max-width:991px){.property-listing{min-height:400px;}
.property-listing .thumb{max-height:200px;overflow:hidden;}
}
@media (min-width:992px) and (max-width:1199px){.property-listing .inner{max-height:186px;}
}
@media (min-width:1200px){.property-listing .inner{max-height:186px;}
}
.project-cover{width:100%;height:200px;position:relative;}
.btn.btn-facebook{background-color:#3b5998;color:#FFF;}
.panel.panel-facebook{border-color:#3b5998;}
.panel.panel-facebook > .panel-heading{color:#FFF;background-color:#3b5998;border-color:#3b5998;}
.btn.btn-google{background-color:#dd4b39;color:#FFF;}
.btn.btn-twitter{background-color:#4099FF;color:#FFF;}
.btn.btn-linkedin{background-color:#007bb6;color:#FFF;}
.btn.btn-pinterest{background-color:#C92228;color:#FFF;}
#property-slider-thumbnails{text-align:center;}
.detail{background-color:#f5f5f5;display:block;padding:10px;margin-bottom:10px;}
.detail label{margin:0;}
.social-media-sidebar a{margin-bottom:5px;}
.homepage-searchbox{margin-top:20px;}
.homepage-searchbox .panel-heading-icon{position:absolute;top:-5px;right:-10px;}
@media (max-width:767px){.homepage-searchbox{margin-top:0;}
}
@media (min-width:768px) and (max-width:991px){.homepage-searchbox{margin-top:0;}
}
.panel.homepage-searchbox .panel-body{min-height:230px;}
#seller-info .name{margin:0;}
#seller-info .phone{margin:0;font-size:18px;}
.attr{font-size:16px;vertical-align:top;margin-right:10px;}
.attr .attr-icon{width:24px;height:24px;display:inline-block;padding-left:30px;}
.attr .attr-icon.beds{background:transparent url("../images/bed-icon.png") no-repeat;}
.attr .attr-icon.beds{background:transparent url("../images/bed-icon.png") no-repeat;}
.attr .attr-icon.baths{background:transparent url("../images/rubber-duck-icon.png") no-repeat;}
.attr .attr-icon.lot_area{background:transparent url("../images/grid-icon.png") no-repeat;}
.attr .attr-icon.floor_area{background:transparent url("../images/New-room-icon.png") no-repeat;}
.attr .attr-icon.price{background:transparent url("../images/price-tag-icon.png") no-repeat;}
@media print { .print-me {	display:none; }
}
#business-tags .tag-item.disabled {background-color:#FFD5D5;}